<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
</head>
<body>
    <ul id="navigation">
    {% for item in navigation %}
        <li><a href="{{ myname }}">{{ mypassword }}</a></li>
    {% endfor %}
    </ul>

    <h1>My Webpage</h1>
    {{ myconnection }}

    {# #a comment #}
</body>
</html>
